
# Ignore Python bytecode  
__pycache__/  
*.py[cod]  
*$py.class  
  
# Ignore virtual environment  
venv/  
  
# Ignore build directories  
build/  
dist/  
  
# Ignore database  
*.sqlite3  
  
# Ignore environment variables file  
.env  
  
# Node modules  
node_modules/  