// frontend/src/index.scss
$primary-color: #007bff; 

body {
  background-color: $primary-color;
  font-family: sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;

  h1 {
    color: white;
  }
}