{% extends 'base.html' %}

{% block content %}
    Moderation Dashboard
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Post</th>
                <th scope="col">Reason</th>
                <th scope="col">Reported by</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for reported_post in reported_posts %}
            <tr>
                <td>{{ reported_post.post.content|truncatewords:20 }}</td>
                <td>{{ reported_post.reason }}</td>
                <td>{{ reported_post.reported_by.username }}</td>
                <td>
                    <a href="{% url 'moderate-post-delete' reported_post.post.id %}" class="btn btn-danger">Delete</a>
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#moderation-modal-{{ reported_post.id }}">
                        Take Action
                    </button>
                    
                        <div class="modal fade" id="moderation-modal-{{ reported_post.id }}" tabindex="-1" aria-labelledby="moderation-modal-label" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h 2 class="modal-title" id="moderation-modal-label">Take Action</h2>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body text-center">
                                        <form action="{% url 'moderate-post-action' reported_post.post.id %}" method="POST">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                            <button type="submit" class="btn btn-warning">Ignore</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                </td>
            </tr>
            {% endfor %} 
        </tbody>
    </table>
{% endblock %}
