// frontend/src/styles/components/_CourseList.scss
.course-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    grid-gap: $spacing-unit * 2; 
    padding: $spacing-unit;

    .course-card__title {
      font-size: 1.5rem; 
      font-weight: 700; 
    }

    .course-card__description {
      font-size: 1.2rem; 
      color: $dark-gray; 
    }

    .course-card__button {
      background-color: $primary-color; 
      color: rgb(72, 158, 15); 
      padding: $spacing-unit; 
      border: none; 
      border-radius: 5px; 
      cursor: pointer; 
      transition: background-color 0.3s; 
  
      &:hover {
        background-color: $secondary-color; 
      }
    }

    .course-card__button--disabled {
      background-color: $light-gray; 
      color: $dark-gray; 
      cursor: not-allowed; 
    }

    .course-card__button--disabled:hover {
      background-color: $light-gray; 
    }

    .course-card__button-container {
      display: flex; 
      justify-content: flex-end; 
    }

    .course-card__button-container > * {
      margin-left: $spacing-unit; 
    }

    .course-card__button-container > *:first-child {
      margin-left: 0; 
    }   

    .course-card__button-container > *:last-child {
      margin-left: 0; 
    }


  }